<title>Daily Notes | Contact</title>

        <%- include('partials/header.ejs') %>

    <main>
        <h5><%= pageName %></h5>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nulla laboriosam aspernatur itaque quae sit facere
        libero atque repudiandae, accusamus nostrum nam unde, dolores nobis temporibus vero nemo doloremque placeat?
        Tenetur doloremque consectetur non facilis magni. Nam, animi! Eum assumenda ea consectetur necessitatibus quasi
        aspernatur error perspiciatis neque eligendi vitae?
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>